<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="lib/index.css">
</head>
<body>
  <div id="app">
    <el-container>
      <el-aside width="200px">
        <div class="el-aside-logo">
          <a href="javascript:void(0)"></a>
        </div>
        <el-menu default-active="3">
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-menu"></i>
              <span>Dashboard</span>
            </template>
            <el-menu-item-group title="Group1">
              <el-menu-item index="1-1">Option1</el-menu-item>
              <el-menu-item index="1-2">Option2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="Group2">
              <el-menu-item index="1-3">Option3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="1-4">
              <template slot="title">Option4</template>
              <el-menu-item index="1-4-1">Option4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-menu-item index="2">
            <i class="el-icon-menu"></i>
            <span slot="title">Application</span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="el-icon-menu"></i>
            <span slot="title">Acquisition</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-menu"></i>
            <a slot="title">HOA</a>
          </el-menu-item>
          <el-menu-item index="5">
            <i class="el-icon-menu"></i>
            <span slot="title">Property Management</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      
      <el-container>
        <el-header></el-header>
        <el-main>
          <el-breadcrumb>
            <el-breadcrumb-item :to="{ path: '/' }">Dashboard</el-breadcrumb-item>
            <el-breadcrumb-item><a href="/">Home</a></el-breadcrumb-item>
            <el-breadcrumb-item>Property Management</el-breadcrumb-item>
          </el-breadcrumb>
          <el-card>
            <div slot="header" class="clearfix">
              <span>NRTP Renewal Price Review</span>
              <div style="float: right;">
                <el-radio-group class="el-radio-group-circle" v-model="radioStatusVal">
                  <el-radio-button label="To Do"></el-radio-button>
                  <el-radio-button label="Pending"></el-radio-button>
                  <el-radio-button label="Completed"></el-radio-button>
                  <el-radio-button label="Hold Over"></el-radio-button>
                </el-radio-group> 
              </div>
            </div>
            <!-- Start Form -->
            <el-form :inline="true" :model="formInline">
              <el-form-item label="Search">
                <el-input v-model="formInline.search" placeholder="P-Code/Address/Lease"></el-input>
              </el-form-item>
              <el-form-item label="Status">
                <el-select v-model="formInline.status" placeholder="Status">
                  <el-option label="Item1" value="item1"></el-option>
                  <el-option label="Item2" value="item2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="State">
                <el-select v-model="formInline.state" placeholder="State">
                  <el-option label="Item1" value="item1"></el-option>
                  <el-option label="Item2" value="item2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Team">
                <el-select v-model="formInline.team" placeholder="Team">
                  <el-option label="Item1" value="item1"></el-option>
                  <el-option label="Item2" value="item2"></el-option>
                </el-select>
              </el-form-item>
            </el-form><!-- End Form -->

            <!-- Start Table -->
            <el-table
              :data="tableData"
              :header-cell-class-name="cellTextRight"
              :cell-class-name="cellTextRight">
              <el-table-column
                fixed
                prop="team"
                label="Team"
                sortable
                min-width="100">
              </el-table-column>
              <el-table-column
                fixed
                prop="pCode"
                label="P-code"
                sortable
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="address"
                label="Address"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="city"
                label="City"
                sortable
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="state"
                label="State"
                sortable
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="leaseName"
                label="Lease Name"
                sortable
                min-width="130">
              </el-table-column>
              <el-table-column
                prop="leaseStatus"
                label="Lease Status"
                sortable
                min-width="140">
              </el-table-column>
              <el-table-column
                prop="leaseEndDate"
                label="Lease End Date"
                sortable
                min-width="150">
              </el-table-column>
              <el-table-column
                prop="currentRent"
                label="Current Rent"
                sortable
                min-width="140">
                <template slot-scope="scope">
                  <span>$3000</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="renewalOffer"
                label="Renewal Offer"
                sortable
                min-width="140">
                <template slot-scope="scope">
                  <span>$3000</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="renewalFloor"
                label="Renewal Floor"
                sortable
                min-width="140">
                <template slot-scope="scope">
                  <span>$3000</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="emailDate"
                label="Email Date"
                sortable
                min-width="120">
                <template slot-scope="scope">
                  <el-button icon="el-icon-message" circle class="el-button-nb-blue"></el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop="callDate"
                label="Call Date"
                sortable
                min-width="120">
                <template slot-scope="scope">
                  <el-button icon="el-icon-phone" circle class="el-button-nb-blue"></el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop="renewalDecision"
                label="Renewal Decision"
                sortable
                min-width="240">
                <template slot-scope="scope">
                  Request for Initial DocuSign
                  <el-popover
                    placement="bottom"
                    width="240"
                    trigger="click">
                    <el-select v-model="value" placeholder="">
                      <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                    <el-button icon="el-icon-edit-outline" circle slot="reference" class="el-button-nb-blue"></el-button>
                  </el-popover>
                </template>
              </el-table-column>
              <el-table-column
                prop="revisionCall"
                label="Revision Call"
                sortable
                min-width="140">
                <template slot-scope="scope">
                  <template>
                    <el-checkbox></el-checkbox> Called
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="ResidentCounterOffer"
                label="Resident Counter Offer"
                sortable
                min-width="210">
                <template slot-scope="scope">
                  <el-button icon="el-icon-edit-outline" circle class="el-button-nb-blue"></el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop="hpaFloor"
                label="HPA Floor"
                sortable
                min-width="130">
                <template slot-scope="scope">
                  <span>$3000</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="agreedUponPrice"
                label="Agreed Upon Price"
                sortable
                min-width="180">
                <template slot-scope="scope">
                  <el-button icon="el-icon-edit-outline" circle class="el-button-nb-blue"></el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop="agreedUponMonths"
                label="Agreed Upon Months"
                sortable
                min-width="190">
                <template slot-scope="scope">
                  <el-button icon="el-icon-edit-outline" circle class="el-button-nb-blue"></el-button>
                </template>
              </el-table-column>
              <el-table-column
                prop="status"
                label="Status"
                sortable
                min-width="220">
                <template slot-scope="scope">
                  <el-badge is-dot class="el-badge-purple">Need to Contact</el-badge>
                </template>
              </el-table-column>
              <el-table-column
                fixed="right"
                label="Action"
                min-width="100">
                <template slot-scope="scope">
                  <el-tooltip class="item" effect="dark" content="Rent Price Calculator" placement="bottom">
                    <el-button icon="el-icon-printer" circle class="el-button-nb-blue" @click="dialogVisible = true"></el-button>
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table><!-- End Table -->

            <!-- Start Pagination -->
            <div class="el-pagination-wrap">
              <span class="el-pagination-text">Showing 10 of 100 entries</span>
              <el-pagination
                layout="prev, pager, next"
                :total="1000">
              </el-pagination>
            </div><!-- End Pagination -->
          </el-card>
        </el-main>
      </el-container>
    </el-container>

    <!-- 
      el-dialog-side       width:540px; (Default)
      el-dialog-side-lg    width:960px;
      el-dialog-side-sm    width:420px;
      el-dialog-side-xs    width:360px;
      -->
    <el-dialog
      :visible.sync="dialogVisible"
      class="el-dialog-side">
      <div>
        <el-tabs v-model="tabActive">
          <el-tab-pane label="Send Email" name="first"></el-tab-pane>
          <el-tab-pane label="Email History" name="second">
            <ul class="el-timeline">
              <li class="el-timeline-item">
                <div class="el-timeline-item-dot"></div>
                <div class="el-timeline-item-info">
                  <strong>4/28/2018</strong>
                  <p class="el-timeline-item-info-affix">22:55:36</p>
                </div>
                <div class="el-timeline-item-content">
                  <h4 class="el-timeline-item-content-title">NRTP Renewal Price Offer Letter</h4>
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  incididunt ut labore et dolore magna
                </div>
              </li>
              <li class="el-timeline-item">
                <div class="el-timeline-item-dot danger"></div>
                <div class="el-timeline-item-info">
                  <strong>4/28/2018</strong>
                  <p class="el-timeline-item-info-affix">22:55:36</p>
                </div>
                <div class="el-timeline-item-content">
                  <h4 class="el-timeline-item-content-title">NRTP Renewal Price Offer Letter</h4>
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  incididunt ut labore et dolore magna
                </div>
              </li>
              <li class="el-timeline-item">
                <div class="el-timeline-item-dot success"></div>
                <div class="el-timeline-item-info">
                  <strong>4/28/2018</strong>
                  <p class="el-timeline-item-info-affix">22:55:36</p>
                </div>
                <div class="el-timeline-item-content">
                  <h4 class="el-timeline-item-content-title">NRTP Renewal Price Offer Letter</h4>
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  incididunt ut labore et dolore magna
                </div>
              </li>
              <li class="el-timeline-item">
                <div class="el-timeline-item-dot warning"></div>
                <div class="el-timeline-item-info">
                  <strong>4/28/2018</strong>
                  <p class="el-timeline-item-info-affix">22:55:36</p>
                </div>
                <div class="el-timeline-item-content">
                  <h4 class="el-timeline-item-content-title">NRTP Renewal Price Offer Letter</h4>
                  Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                  incididunt ut labore et dolore magna
                </div>
              </li>
            </ul>
          </el-tab-pane>
        </el-tabs>
        <el-alert
          title="Needs LM Manager Approval"
          type="warning"
          show-icon>
        </el-alert>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="el-button-block" @click="dialogVisible = false" disabled>Cancel</el-button>
        <el-button class="el-button-block" type="primary" @click="dialogVisible = false">Submit</el-button>
      </span>
    </el-dialog>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          dialogVisible: false,
          tabActive: 'second',
          formInline: {
            search: '',
            status: '',
            state: '',
            team: ''
          },
          options: [{
            value: '1',
            label: 'Request for Initial DocuSign'
          },{
            value: '2',
            label: 'Intend to Vacate'
          },{
            value: '3',
            label: 'Renewal Not Offered'
          }],
          value: '',
          radioStatusVal:"To Do",
          tableData: [{
            team: 'East Team',
            pCode: 'p00-0001',
            address: '4684 Badlona Drive',
            city: 'Westminster',
            state: 'CA',
            leaseName: 'Bell, M.',
            leaseStatus: 'Active',
            leaseEndDate: '5/11/2018'
          },{
            team: 'East Team',
            pCode: 'p00-0002',
            address: '4684 Badlona Drive',
            city: 'Westminster',
            state: 'CA',
            leaseName: 'Bell, M.',
            leaseStatus: 'Active',
            leaseEndDate: '5/11/2018'
          },{
            team: 'East Team',
            pCode: 'p00-0003',
            address: '4684 Badlona Drive',
            city: 'Westminster',
            state: 'CA',
            leaseName: 'Bell, M.',
            leaseStatus: 'Active',
            leaseEndDate: '5/11/2018'
          },{
            team: 'East Team',
            pCode: 'p00-0004',
            address: '4684 Badlona Drive',
            city: 'Westminster',
            state: 'CA',
            leaseName: 'Bell, M.',
            leaseStatus: 'Active',
            leaseEndDate: '5/11/2018'
          }]
        };
      },
      methods: {
        cellTextRight({row, column, rowIndex, columnIndex}) {
          if ([8,9,10,11,12,15,16,17,18].indexOf(columnIndex)>=0) {
            return 'el-text-right'
          } 
          return ''
        }
      }
    })
  </script>
  <style module>
    /* .el-table .table-text-right {
      text-align: right;
    } */
  </style>
</html>
