<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="lib/index.css">
</head>
<body>
  <div id="app" style="background-color: #fff">
        <!-- button -->
        <h2 class="first-h2">button</h2>
        <div style="padding: 20px;">
            <el-button  size="huge">huge button</el-button>
            <el-button  size="large">large button</el-button>
            <el-button>default button</el-button>
            <el-button  size="small">small button</el-button>
            <el-button  size="tiny">tiny button</el-button>
            <div style="padding:20px 20px 0px 0;">
              <el-button  type="primary">primary</el-button>
              <el-button  type="success">success</el-button>   
              <el-button  type="warning">warning</el-button>   
              <el-button  type="danger">danger</el-button>
              <el-button  class="secondary">secondary</el-button>   
              <el-button  disabled>disabled</el-button>
              <el-button  icon="el-icon-delete" circle   class="no-border"></el-button>
              <el-button  icon="el-icon-delete" circle  type="primary"></el-button>    
              <el-button  icon="el-icon-delete" circle  type="warning"></el-button>       
            </div>
        </div>
        <!-- button -->

        <!-- check -->
        <h2>check</h2>
        <div class="pd-box">
            <el-checkbox  v-model="check">备选项</el-checkbox>
            <el-checkbox  v-model="check" disabled>禁用项</el-checkbox>
        </div>  
        <!-- check -->

        <!--radio-->
        <h2>radio</h2>
        <div class="pd-box">
          <el-radio v-model="radio" label="1">备选项1</el-radio>
          <el-radio v-model="radio" label="2">备选项2</el-radio>
        </div>  
        <!-- radio -->

        <!-- input -->
        <h2>input</h2>
        <div class="pd-box">
          <div class="demo-input-box">
            <el-input v-model="inputvalue4" placeholder="禁用输入框" disabled></el-input>
            <el-input v-model="inputvalue1" placeholder="large" size="large"></el-input>
            <el-input v-model="inputvalue2" placeholder="默认"></el-input>
            <el-input v-model="inputvalue3" placeholder="small" size="small"></el-input>
          </div>
        </div>  
        <!-- input -->

        <!-- Dropdown -->
        <h2>Dropdown</h2>
        <div class="Dropdown-box">
           <el-dropdown size="large" split-button type="primary">
            large
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>黄金糕</el-dropdown-item>
              <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item>双皮奶</el-dropdown-item>
              <el-dropdown-item>蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          
          <el-dropdown  split-button type="primary">
            default
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>黄金糕</el-dropdown-item>
              <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item>双皮奶</el-dropdown-item>
              <el-dropdown-item>蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          
          <el-dropdown size="small" split-button type="primary">
            small
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>黄金糕</el-dropdown-item>
              <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item>双皮奶</el-dropdown-item>
              <el-dropdown-item>蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <!-- Dropdown -->

        <!-- Date  Picker -->
        <h2>Data Picker</h2>
        <div class="DatePicker-Box">
            <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(large)" size="large" class="iconRight"></el-date-picker>
            <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(default)" class="iconRight"></el-date-picker>
            <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(small)" size="small" class="iconRight"></el-date-picker>
        </div>

        <!-- Date  Picker -->

        <!-- Select -->
        <h2>Select</h2>
        <div class="Select-Box">
            <el-select v-model="selectvalue1" placeholder="请选择" size="large">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <el-select v-model="selectvalue2" placeholder="请选择">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <el-select v-model="selectvalue3" placeholder="请选择" size="small">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </div> 
        <!-- Select -->

        <!-- switch -->
        <h2>switch</h2>
        <div class="Switch-Box">
          <!-- 默认值改为44 -->
          <el-switch v-model="switchvalue1" active-value="#1890ff" ></el-switch>
          <el-switch v-model="switchvalue2"  active-value="#1890ff" class="el-switch-small"></el-switch> 
          <el-switch v-model="switchvalue3"  active-value="#1890ff" class="el-switch-text"></el-switch>
          <el-switch v-model="switchvalue4"  active-value="#1890ff" class="el-switch-icon"></el-switch>
        </div>
        <!-- switch -->



        <!-- button-group -->
        <h2>button-group</h2>
        <div class="Btn-group-Box">
            <el-button-group>
                <el-button>To Do</el-button>
                <el-button>Pending</el-button>
                <el-button>Completed</el-button>
                <el-button>Hold Over</el-button>
            </el-button-group> 
        </div>
        <!-- button-group -->
        
        <!-- Tag -->
        <h2>Tag</h2>
        <div class="Tag-Box">
            <el-tag  class="el-tag-blue">blue</el-tag>
            <el-tag class="el-tag-cyan">cyan</el-tag>
            <el-tag class="el-tag-green">green</el-tag>
            <el-tag class="el-tag-orange">orange</el-tag>
            <el-tag class="el-tag-pink">pink</el-tag>
            <el-tag class="el-tag-purpl">purpl</el-tag>
            <el-tag class="el-tag-red">red</el-tag>
        </div>

        <!-- Tag -->
        
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          visible: false,
          check:true,
          radio:'1',
          inputvalue1:"",
          inputvalue2:"",
          inputvalue3:"",
          inputvalue4:"",
          datevalue1:"",
          selectvalue1:"",
          selectvalue2:"",
          selectvalue3:"",
          switchvalue1:"",
          switchvalue2:"",
          switchvalue3:"",
          switchvalue4:"",
          switchvalue5:"",
          options: [{
            value: '选项1',
            label: '黄金糕'
          }, {
            value: '选项2',
            label: '双皮奶'
          }, {
            value: '选项3',
            label: '蚵仔煎'
          }, {
            value: '选项4',
            label: '龙须面'
          }, {
            value: '选项5',
            label: '北京烤鸭'
          }],
        }
      }
    })
  </script>
</html>
<style>
    h2{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .first-h2{
        padding-bottom: 0;
        padding-top: 20px;
    }

    .pd-box,.Dropdown-box, .DatePicker-Box,.Select-Box,.Switch-Box,.Btn-group-Box,.Tag-Box{
        padding:0px 20px 20px 20px;
    }

    .demo-input-box .el-input{
        width:148px;
        margin-right: 5px;
    }
    .Dropdown-box .el-dropdown{
        vertical-align: bottom;
        margin-right:5px;
    }

    .DatePicker-Box  .el-date-editor{
       vertical-align: middle;
       margin-right: 5px;
    }

    .no-border{
       border:none;
    }
</style> 
