<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="lib/index.css">
</head>
<body>
  <div id="app" style="background-color: #fff">
    <!-- button -->
    <h2 class="first-h2">button</h2>
    <div style="padding: 20px;">
      <!-- <el-button size="huge">huge button</el-button>
      <el-button size="large">large button</el-button>
      <el-button>default button</el-button>
      <el-button size="small">small button</el-button>
      <el-button size="tiny">tiny button</el-button>
      <div style="padding:20px 20px 0px 0;">
        <el-button type="primary">primary</el-button>
        <el-button type="success">success</el-button>   
        <el-button type="warning">warning</el-button>   
        <el-button type="danger">danger</el-button>
        <el-button class="secondary">secondary</el-button>   
        <el-button disabled>disabled</el-button>
        <el-button icon="el-icon-delete" circle class="el-button-nb-green"></el-button>
        <el-button icon="el-icon-delete" circle class="el-button-nb-blue"></el-button>
        <el-button icon="el-icon-delete" circle type="primary"></el-button>    
        <el-button icon="el-icon-delete" circle type="warning"></el-button>       
      </div> -->
      <h3>Normal</h3>
      <el-row class="el-mar-b-s">
        <el-button>默认按钮</el-button>
        <el-button type="primary">主要按钮</el-button>
        <el-button type="success">成功按钮</el-button>
        <el-button type="info">信息按钮</el-button>
        <el-button type="warning">警告按钮</el-button>
        <el-button type="danger">危险按钮</el-button>
      </el-row>
      <el-row class="el-mar-b-m">
        <el-button size="huge">超大型按钮</el-button>
        <el-button type="primary" size="large">大型按钮</el-button>
        <el-button type="success" size="medium">中等按钮</el-button>
        <el-button type="info">默认按钮</el-button>
        <el-button type="warning" size="small">小型按钮</el-button>
        <el-button type="danger" size="mini">超小按钮</el-button>
      </el-row>

      <h3>Plan</h3>
      <el-row class="el-mar-b-s">
        <el-button plain>朴素按钮</el-button>
        <el-button type="primary" plain>主要按钮</el-button>
        <el-button type="success" plain>成功按钮</el-button>
        <el-button type="info" plain>信息按钮</el-button>
        <el-button type="warning" plain>警告按钮</el-button>
        <el-button type="danger" plain>危险按钮</el-button>
      </el-row>
      <el-row class="el-mar-b-m">
        <el-button plain size="huge">朴素按钮</el-button>
        <el-button type="primary" plain size="large">主要按钮</el-button>
        <el-button type="success" plain size="medium">成功按钮</el-button>
        <el-button type="info" plain>信息按钮</el-button>
        <el-button type="warning" plain size="small">警告按钮</el-button>
        <el-button type="danger" plain size="mini">危险按钮</el-button>
      </el-row>

      <h3>Round</h3>
      <el-row class="el-mar-b-s">
        <el-button round>圆角按钮</el-button>
        <el-button type="primary" round>主要按钮</el-button>
        <el-button type="success" round>成功按钮</el-button>
        <el-button type="info" round>信息按钮</el-button>
        <el-button type="warning" round>警告按钮</el-button>
        <el-button type="danger" round>危险按钮</el-button>
      </el-row>
      <el-row class="el-mar-b-m">
        <el-button round size="huge">圆角按钮</el-button>
        <el-button type="primary" round size="large">主要按钮</el-button>
        <el-button type="success" round size="medium">成功按钮</el-button>
        <el-button type="info" round>信息按钮</el-button>
        <el-button type="warning" round size="small">警告按钮</el-button>
        <el-button type="danger" round size="mini">危险按钮</el-button>
      </el-row>

      <h3>Circle</h3>
      <el-row class="el-mar-b-s">
        <el-button icon="el-icon-search" circle></el-button>
        <el-button type="primary" icon="el-icon-edit" circle></el-button>
        <el-button type="success" icon="el-icon-check" circle></el-button>
        <el-button type="info" icon="el-icon-message" circle></el-button>
        <el-button type="warning" icon="el-icon-star-off" circle></el-button>
        <el-button type="danger" icon="el-icon-delete" circle></el-button>
      </el-row>
      <el-row class="el-mar-b-m">
        <el-button icon="el-icon-search" circle size="huge"></el-button>
        <el-button type="primary" icon="el-icon-edit" circle size="large"></el-button>
        <el-button type="success" icon="el-icon-check" circle size="medium"></el-button>
        <el-button type="info" icon="el-icon-message" circle></el-button>
        <el-button type="warning" icon="el-icon-star-off" circle size="small"></el-button>
        <el-button type="danger" icon="el-icon-delete" circle size="mini"></el-button>
      </el-row>

      <h3>Block</h3>
      <el-row class="el-mar-b-m">
        <el-button class="el-button-block el-mar-b-s" type="primary">save</el-button>
        <el-button class="el-button-block el-mar-b-s" type="success">save</el-button>
      </el-row>

      <h3>Disabled</h3>
      <el-row class="el-mar-b-s">
        <el-button disabled>默认按钮</el-button>
        <el-button type="primary" disabled>主要按钮</el-button>
        <el-button type="success" disabled>成功按钮</el-button>
        <el-button type="info" disabled>信息按钮</el-button>
        <el-button type="warning" disabled>警告按钮</el-button>
        <el-button type="danger" disabled>危险按钮</el-button>
      </el-row>
      <el-row class="el-mar-b-m">
        <el-button plain disabled>朴素按钮</el-button>
        <el-button type="primary" plain disabled>主要按钮</el-button>
        <el-button type="success" plain disabled>成功按钮</el-button>
        <el-button type="info" plain disabled>信息按钮</el-button>
        <el-button type="warning" plain disabled>警告按钮</el-button>
        <el-button type="danger" plain disabled>危险按钮</el-button>
      </el-row>

      <h3>Text</h3>
      <el-row class="el-mar-b-m">
        <el-button type="text">文字按钮</el-button>
        <el-button type="text" disabled>文字按钮</el-button>
      </el-row>

      <el-button type="primary" :loading="true" class="el-mar-b-m">加载中</el-button>

      <h3>Btn-Group</h3>
      <el-button-group>
        <el-button type="primary" icon="el-icon-arrow-left">上一页</el-button>
        <el-button type="primary">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
      </el-button-group>
      <el-button-group>
        <el-button type="primary" icon="el-icon-edit"></el-button>
        <el-button type="primary" icon="el-icon-share"></el-button>
        <el-button type="primary" icon="el-icon-delete"></el-button>
      </el-button-group>
    </div>
    <!-- button -->

    <!-- check -->
    <h2>check</h2>
    <div class="check-box">
      <el-checkbox  v-model="check">备选项</el-checkbox>
      <el-checkbox  v-model="check" disabled>禁用项</el-checkbox>
    </div>  
    <!-- check -->

    <!--radio-->
    <h2>radio</h2>
    <div class="radio-box">
      <el-radio v-model="radio" label="1">备选项1</el-radio>
      <el-radio v-model="radio" label="2">备选项2</el-radio>
    </div>  
    <!-- radio -->

    <!-- input -->
    <h2>input</h2>
    <div class="input-box">
      <div class="demo-input-box">
        <el-input v-model="inputvalue4" placeholder="禁用输入框" disabled></el-input>
        <el-input v-model="inputvalue1" placeholder="large" size="large"></el-input>
        <el-input v-model="inputvalue2" placeholder="默认"></el-input>
        <el-input v-model="inputvalue3" placeholder="small" size="small"></el-input>
      </div>
    </div>  
    <!-- input -->

    <!-- Dropdown -->
    <h2>Dropdown</h2>
    <div class="Dropdown-box">
      <el-dropdown size="large" split-button type="primary">
        large
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>黄金糕</el-dropdown-item>
          <el-dropdown-item>狮子头</el-dropdown-item>
          <el-dropdown-item>螺蛳粉</el-dropdown-item>
          <el-dropdown-item>双皮奶</el-dropdown-item>
          <el-dropdown-item>蚵仔煎</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      
      <el-dropdown  split-button type="primary">
        default
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>黄金糕</el-dropdown-item>
          <el-dropdown-item>狮子头</el-dropdown-item>
          <el-dropdown-item>螺蛳粉</el-dropdown-item>
          <el-dropdown-item>双皮奶</el-dropdown-item>
          <el-dropdown-item>蚵仔煎</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      
      <el-dropdown size="small" split-button type="primary">
        small
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>黄金糕</el-dropdown-item>
          <el-dropdown-item>狮子头</el-dropdown-item>
          <el-dropdown-item>螺蛳粉</el-dropdown-item>
          <el-dropdown-item>双皮奶</el-dropdown-item>
          <el-dropdown-item>蚵仔煎</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <!-- Dropdown -->

    <!-- Date  Picker -->
    <h2>Data Picker</h2>
    <div class="DatePicker-Box">
      <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(large)" size="large" class="iconRight"></el-date-picker>
      <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(default)" class="iconRight"></el-date-picker>
      <el-date-picker v-model="datevalue1" type="datetime" placeholder="选择日期时间(small)" size="small" class="iconRight"></el-date-picker>
    </div>

    <!-- Date  Picker -->

    <!-- Select -->
    <h2>Select</h2>
    <!-- <div class="Select-Box">
      <el-select v-model="selectvalue1" placeholder="请选择" size="large">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
      </el-select>
      <el-select v-model="selectvalue2" placeholder="请选择">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
      </el-select>
      <el-select v-model="selectvalue3" placeholder="请选择" size="small">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
      </el-select>
    </div>  -->
    <!-- Select -->

    <!-- switch -->
    <h2>switch</h2>
    <div class="Switch-Box">
      <!-- 默认值改为44 -->
      <el-switch v-model="switchvalue1" active-value="#1890ff" ></el-switch>
      <el-switch v-model="switchvalue2"  active-value="#1890ff" class="el-switch-small"></el-switch> 
      <el-switch v-model="switchvalue3"  active-value="#1890ff" class="el-switch-text"></el-switch>
      <el-switch v-model="switchvalue4"  active-value="#1890ff" class="el-switch-icon"></el-switch>
    </div>
    <!-- switch -->



    <!--radio-group -->
    <h2>radio-group</h2>
    <div class="radio-group-Box">
      <el-radio-group class="el-radio-group-circle" v-model="radioStatusVal">
        <el-radio-button label="To Do"></el-radio-button>
        <el-radio-button label="Pending"></el-radio-button>
        <el-radio-button label="Completed"></el-radio-button>
        <el-radio-button label="Hold Over"></el-radio-button>
      </el-radio-group> 
    </div>
    <!-- button-group -->
        
    <!-- Tag -->
    <h2>Tag</h2>
    <div class="Tag-Box">
      <el-tag size ="mini" class="el-tag-blue">blue pending for LM MGR Approval</el-tag>
      <el-tag size="mini" class="el-tag-cyan">cyan</el-tag>
      <el-tag size="mini" class="el-tag-green">green</el-tag>
      <el-tag size="mini" class="el-tag-orange">orange</el-tag>
      <el-tag size="mini" class="el-tag-pink">pink</el-tag>
      <el-tag size="mini" class="el-tag-purple">purple</el-tag>
      <el-tag size="mini" class="el-tag-red">red</el-tag>
    </div>

    <!-- Tag -->


    <!-- Badge -->
    <h2>Badge</h2>
    <div class="Badge-Box">
      <div><el-badge is-dot class="el-badge-blue">Pending for LM MGR Approval</el-badge></div>
      <div><el-badge is-dot class="el-badge-cyan">LM MGR Approved</el-badge></div>
      <div><el-badge is-dot class="el-badge-green">LM Mrg Suggested New price</el-badge></div>
      <div><el-badge is-dot class="el-badge-orange">Orange</el-badge></div>
      <div><el-badge is-dot class="el-badge-pink">Pink</el-badge></div>
      <div><el-badge is-dot class="el-badge-purple">Purple</el-badge></div>
      <div><el-badge is-dot class="el-badge-red">Red</el-badge></div>
    </div>
    <!-- Badge -->

    <!-- tabs -->
    <h2>Tabs</h2>
    <div class="Tab-Box">
      <el-tabs v-model="activeName">
        <el-tab-pane label="Send Email" name="first">Send Email</el-tab-pane>
        <el-tab-pane label="Email History" name="second">
          <!-- tab content -->
          <h2 style="padding-left: 0;">Timeline</h2>
          <!-- step-timeline -->
          <div style="padding-left:90px;position: relative;">
            <el-steps direction="vertical" :active="1" class="el-steps-box">
              <div class="time-describe-box">
                <div v-for="item in TimeData">
                  <p>{{item.date}}</p>
                  <p>{{item.time}}</p>
                </div>    
              </div>
              <div v-for="item  in  TcArrayData">
                  <el-step :title="item.title" :description="item.description" class="el-step-timeline" :class="item.color"></el-step>
              </div>
            </el-steps>
          </div>
          <!-- step-timeline -->
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- tabs -->


    <!-- log one -->
    <!-- <h2>Log</h2>
    <div class="Log-one-Box">
      <el-tabs v-model="activeName1">
        <el-tab-pane label="Call" name="first">Send Email</el-tab-pane>
        <el-tab-pane label="CallHistory" name="second">
          <div style="height: 403px;">
              <el-steps direction="vertical" :active="1" class="el-step-bluecircle">
                  <el-step v-for="item in  HistoryData" :title="item.time" :description="item.description":class="item.color"></el-step>
              </el-steps>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div> -->
    <!-- log one -->

    <!-- radio-email -->
    <h2>email-radio</h2>
    <div class="el-radio-email">
      <el-radio v-model="radio7" label="1" border>Balance Owed</el-radio>
      <el-radio v-model="radio7" label="2" border>Late Fee Charged</el-radio>
      <el-radio v-model="radio7" label="3" border>Pending Eviction</el-radio>
      <el-radio v-model="radio7" label="4" border>Placed with Attorney</el-radio>
    </div> 
    <!-- radio-email -->
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
          const generateData = _ => {
          const data = [];
          for (let i = 1; i <= 15; i++) {
            data.push({
              key: i,
              label: `备选项 ${ i }`,
              disabled: i % 4 === 0
            });
          }
          return data;
        };
        return { 
          data: generateData(),
          value1:[1,4],
          visible: false,
          check:true,
          radio:'1',
          inputvalue1:"",
          inputvalue2:"",
          inputvalue3:"",
          inputvalue4:"",
          datevalue1:"",
          selectvalue1:"",
          selectvalue2:"",
          selectvalue3:"",
          switchvalue1:"",
          switchvalue2:"",
          switchvalue3:"",
          switchvalue4:"",
          switchvalue5:"",
          radioStatusVal:"To Do",
          activeName:"second",
          activeName1:"second",
          TcArrayData:[
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-DeepOrange"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-green"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-primary"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-LightOrange"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-blue"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-DeepOrange"
              },
              {
                title:"NRTP Renewal Price Offer Letter",
                description:"noreply@homepartners.com to shunping.liu@shareworks",
                color:"el-step-green"
              }
          ],
          TimeData:[
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             },
             {
                date:"4/28/2018",
                time:"22:55:36"
             }
          ],
          HistoryData:[
              {
                time:"6/11/2017 13:44:56",
                description:"judgment granted for $3.050.00 for past due rent for Dec and jan."
              },
              {
                time:"6/11/2017 13:44:56",
                description:"judgment granted for $3050.00 for due."
              },
              {
                time:"6/14/2017 17:44:40",
                description:"judgment granted for $3050.00 for past due rent for Dec and jan, $450.00 in attorney fees."
              },
              {
                time:"6/16/2017 13:44:56",
                description:"judgment granted for $3050.00 for past due rent for Dec and jan, $450.00 in attorney fees.juge did not grant the entire $500.00,and count costs.Writ is avaliable 1/17/18."
              },
              {
                time:"6/16/2017 13:44:56",
                description:"judgment granted for $3.050.00 for past due rent for Dec and jan.$450.00 in attorney fees"
              }
          ],
          options1: [
          {
          value: 'zhinan',
          label: '指南',
          children: [{
            value: 'shejiyuanze',
            label: '设计原则',
            children: [{
              value: 'yizhi',
              label: '一致'
            }, {
              value: 'fankui',
              label: '反馈'
            }, {
              value: 'xiaolv',
              label: '效率'
            }, {
              value: 'kekong',
              label: '可控'
            }]
          }, {
            value: 'daohang',
            label: '导航',
            children: [{
              value: 'cexiangdaohang',
              label: '侧向导航'
            }, {
              value: 'dingbudaohang',
              label: '顶部导航'
            }]
          }]
        }, {
          value: 'zujian',
          label: '组件',
          children: [{
            value: 'basic',
            label: 'Basic',
            children: [{
              value: 'layout',
              label: 'Layout 布局'
            }, {
              value: 'color',
              label: 'Color 色彩'
            }, {
              value: 'typography',
              label: 'Typography 字体'
            }, {
              value: 'icon',
              label: 'Icon 图标'
            }, {
              value: 'button',
              label: 'Button 按钮'
            }]
          }, {
            value: 'form',
            label: 'Form',
            children: [{
              value: 'radio',
              label: 'Radio 单选框'
            }, {
              value: 'checkbox',
              label: 'Checkbox 多选框'
            }, {
              value: 'input',
              label: 'Input 输入框'
            }, {
              value: 'input-number',
              label: 'InputNumber 计数器'
            }, {
              value: 'select',
              label: 'Select 选择器'
            }, {
              value: 'cascader',
              label: 'Cascader 级联选择器'
            }, {
              value: 'switch',
              label: 'Switch 开关'
            }, {
              value: 'slider',
              label: 'Slider 滑块'
            }, {
              value: 'time-picker',
              label: 'TimePicker 时间选择器'
            }, {
              value: 'date-picker',
              label: 'DatePicker 日期选择器'
            }, {
              value: 'datetime-picker',
              label: 'DateTimePicker 日期时间选择器'
            }, {
              value: 'upload',
              label: 'Upload 上传'
            }, {
              value: 'rate',
              label: 'Rate 评分'
            }, {
              value: 'form',
              label: 'Form 表单'
            }]
          }, {
            value: 'data',
            label: 'Data',
            children: [{
              value: 'table',
              label: 'Table 表格'
            }, {
              value: 'tag',
              label: 'Tag 标签'
            }, {
              value: 'progress',
              label: 'Progress 进度条'
            }, {
              value: 'tree',
              label: 'Tree 树形控件'
            }, {
              value: 'pagination',
              label: 'Pagination 分页'
            }, {
              value: 'badge',
              label: 'Badge 标记'
            }]
          }, {
            value: 'notice',
            label: 'Notice',
            children: [{
              value: 'alert',
              label: 'Alert 警告'
            }, {
              value: 'loading',
              label: 'Loading 加载'
            }, {
              value: 'message',
              label: 'Message 消息提示'
            }, {
              value: 'message-box',
              label: 'MessageBox 弹框'
            }, {
              value: 'notification',
              label: 'Notification 通知'
            }]
          }, {
            value: 'navigation',
            label: 'Navigation',
            children: [{
              value: 'menu',
              label: 'NavMenu 导航菜单'
            }, {
              value: 'tabs',
              label: 'Tabs 标签页'
            }, {
              value: 'breadcrumb',
              label: 'Breadcrumb 面包屑'
            }, {
              value: 'dropdown',
              label: 'Dropdown 下拉菜单'
            }, {
              value: 'steps',
              label: 'Steps 步骤条'
            }]
          }, {
            value: 'others',
            label: 'Others',
            children: [{
              value: 'dialog',
              label: 'Dialog 对话框'
            }, {
              value: 'tooltip',
              label: 'Tooltip 文字提示'
            }, {
              value: 'popover',
              label: 'Popover 弹出框'
            }, {
              value: 'card',
              label: 'Card 卡片'
            }, {
              value: 'carousel',
              label: 'Carousel 走马灯'
            }, {
              value: 'collapse',
              label: 'Collapse 折叠面板'
            }]
          }]
        }, {
          value: 'ziyuan',
          label: '资源',
          children: [{
            value: 'axure',
            label: 'Axure Components'
          }, {
            value: 'sketch',
            label: 'Sketch Templates'
          }, {
            value: 'jiaohu',
            label: '组件交互文档'
          }]
        }],
        selectedOptions:[],
        radio7:"1"
        }
      }
    })
  </script>
</html>
<style>
    h2{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .first-h2{
        padding-bottom: 0;
        padding-top: 20px;
    }

    .pd-box,.radio-box,.input-box,.check-box,.Dropdown-box, .DatePicker-Box,.Select-Box,.Switch-Box,.radio-group-Box,.Tag-Box,.Badge-Box,.Tab-Box,.Log-one-Box{
        padding:0px 20px 20px 20px;
    }

    .demo-input-box .el-input{
        width:148px;
        margin-right: 5px;
    }
    .Dropdown-box .el-dropdown{
        vertical-align: bottom;
        margin-right:5px;
    }

    .DatePicker-Box  .el-date-editor{
       vertical-align: middle;
       margin-right: 5px;
    }
    .Badge-Box > div{
       margin-top: 10px;
       padding-left: 20px;
    }

  .el-row {
      margin-bottom: 20px;
      /* .el-row:last-child {
        margin-bottom: 0;
      } */
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  /*radio-email*/
  .el-radio-email{
    font-size: 0;
    text-align: center;
    padding: 30px 0;
  }
  .el-radio-email .el-radio__label{
    padding-left: 2px;
  }
  .el-radio-email .el-radio.is-bordered{
      border: 1px solid #797979;
      border-radius: unset;
      min-width: 230px;
      color: #333333;
      text-align: left;
      padding: 12px 20px 0 20px;
  }
  .el-radio-email .el-radio.is-bordered+.el-radio.is-bordered{
      margin-left: 0;
  }
  .el-radio-email  .el-radio.is-bordered:not(:first-child){
      border-left: none;
  }

  .el-radio-email .el-radio.is-bordered.is-checked{
     background-color: #b7b7b7;
  }

  .el-radio-email .el-radio__input.is-checked+.el-radio__label{
     color:#333;
  }

  .el-radio-email .el-radio__input .el-radio__inner{
    border-radius: unset;
    border-color: #333;
  }

   .el-radio-email .el-radio__input .el-radio__inner::after{
       content: "√";
       width: unset;
       height: unset;
       background-color: #fff;
  }

</style> 
