@import "../common/var";

@include b(year-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  .el-icon {
    color: $title-color;
  }

  td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer;

    &.disabled .cell {
      background-color: $background-color-base;
      cursor: not-allowed;
      color: $text-color-disabled;

      &:hover {
        color: $text-color-disabled;
      }
    }

    .cell {
      width: 48px;
      height: 32px;
      display: block;
      line-height: 32px;
      color: $text-color ;
      margin: 0 auto;

      &:hover {
        color: $primary-color-main;
      }
    }

    &.current:not(.disabled) .cell {
      color: $primary-color-main;
    }
  }
}
