@import "mixins/mixins";

@include b(aside) {
  // position: absolute;
  // min-width: 200px;
  // height: 100%;
  // min-height: 100%;
  // background: $sidebar-bg;
  // overflow: auto;
  // box-sizing: border-box;
  // flex-shrink: 0;

  position: fixed;
  top: 0;
  left: 0;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: $sidebar-bg;
  z-index: 10;

  &-logo{
    width: 100%;
    height: $header-height;
    // padding: $padding-xs $padding-sm;
    padding: 5px 20px;
    background: darken(saturate($primary-color,15%),29%);

    >a{
      display: block;

      >img{
        width: 100%;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }

  .el-aside-logo-sm{
    display: none;
  }

  &-title{
    margin-top: -$margin-sm;
    color: $white-color;
    text-align: center;
  }

  .el-menu{
    margin: 20px 0;
  }
}


/* Aside Collapse 
------------------------------ */
.el-aside-collapse{
  // Aside
  .el-aside{
    min-width: 60px;
    max-width: 60px;
    overflow: visible;
  }

  .el-aside-logo{
    >a>img{
      display: none;

      &.el-aside-logo-sm{
        display: block;
        margin-top: $margin-xs;
      }
    }
  }

  // Menu
  .el-menu{
    .el-submenu__icon-arrow{
      display: none;
    }

    >.el-submenu>.el-submenu__title>a,
    >.el-menu-item>a{
      padding: $padding-sm;
      text-align: center;

      .el-menu-item-text{
        display: none;
      }
    }

    >.el-submenu>.el-menu-item[class^=el-icon-],
    >.el-menu-item[class^=icon-]{
      margin-right: 0;
    }

    .el-submenu{
      position: relative;

      &:hover{
        >.el-menu{
          display: block !important;
        }
      }
      .el-menu{
        // display: block !important;
        position: absolute;
        top: 0;
        left: 100%;
        background: $white-color;
        border-radius: $border-radius-base;
        box-shadow: $box-shadow-base;

        .el-menu-item-group__title{
          padding: $padding-sm $padding-base!important;
          color: $text-color-disabled;
          cursor: not-allowed;
        }

        .el-menu-item>a,
        .el-submenu__title>a{
          color: $title-color;
          padding: $padding-sm $padding-base $padding-sm $padding-lg !important;

          &:hover{
            color: $white-color;
          }
        }
      }
    }
  
  }

  // Container
  .el-container.is-vertical,
  .el-header{
    padding-left: 60px;
  }
}