@import "mixins/mixins";
@import "common/var";

@include b(badge) {
  position: relative;
  vertical-align: middle;
  display: inline-block;

  @include e(content) {
    background-color: $--badge-fill;
    border-radius: $--badge-radius;
    color: $--color-white;
    display: inline-block;
    font-size: $--badge-font-size;
    height: $--badge-size;
    line-height: $--badge-size;
    padding: 0 $--badge-padding;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $--color-white;

    @include when(fixed) {
      position: absolute;
      top: 50%;
      left:-#{3+$--badge-size/2};
      transform: translateY(-50%);

      @include when(dot) {
        right: 5px;
      }
    }

    @include when(dot) {
      height: 8px;
      width: 8px;
      padding: 0;
      right: 0;
      border-radius: 50%;
    }
  }

  &-blue{
    .el-badge__content{
       background-color:#0f7ae6;
    }
  }

  &-cyan{
   .el-badge__content{
      background-color:#87e8de;
   }
  }

  &-green{
    .el-badge__content{
      background-color:#3fae2a;
    }
  }

  &-orange{
    .el-badge__content{
      background-color: #ffa300;
    }
  }
  &-pink{
    .el-badge__content{
      background-color: #ffadd2;
    }
  }
  &-purpl{
    .el-badge__content{
      background-color: #d3adf7;
    }
  }
  &-red{
    .el-badge__content{
      background-color:#ff5347;
    }
  }
}
