@import "mixins/mixins";
@import "common/var";

@include b(badge) {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding-left: $padding-sm;

  @include e(content) {
    background-color: $danger-color;
    border-radius: $badge-radius;
    color: $white-color;
    display: inline-block;
    font-size: $font-size-xs;
    height: $font-size-lg;
    line-height: $font-size-lg;
    padding: 0 $padding-xs;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $white-color;

    @include when(fixed) {
      position: absolute;
      left: 0;
      top: 50%;
      // left:-#{3+$font-size-lg/2};
      transform: translateY(-50%);

      @include when(dot) {
        right: 5px;
      }
    }

    @include when(dot) {
      height: 8px;
      width: 8px;
      padding: 0;
      right: 0;
      border-radius: 50%;
    }
  }

  &-blue{
    color: $primary-color;
    .el-badge__content{
       background-color:$primary-color;
    }
  }

  &-cyan{
    color: $cyan-color;
   .el-badge__content{
      background-color:$cyan-color;
   }
  }

  &-green{
    color: $success-color;
    .el-badge__content{
      background-color:$success-color;
    }
  }

  &-orange{
    color: $warning-color;
    .el-badge__content{
      background-color: $warning-color;
    }
  }
  &-pink{
    color: $pink-color;
    .el-badge__content{
      background-color: $pink-color;
    }
  }
  &-purple{
    color: $purple-color;
    .el-badge__content{
      background-color: $purple-color;
    }
  }
  &-red{
    color: $danger-color;
    .el-badge__content{
      background-color: $danger-color;
    }
  }
}
