@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(breadcrumb) {
  // font-size: 14px;
  // line-height: 1;
  height: 36px;
  line-height: 36px;
  margin: 0 0 $margin-base;
  color: $text-color;
  font-size: inherit;
  @include utils-clearfix;

  @include e(separator) {
    display: none;
    // margin: 0 9px;
    // font-weight: bold;
    // color: $text-color-disabled;

    // &[class*=icon] {
    //   margin: 0 6px;
    //   font-weight: normal;
    // }
  }

  @include e(item) {
    float: left;
    position: relative;
    padding: 0 $padding-sm;

    &:after{
      display: block;
      content: "";
      position: absolute;
      right: -3px;
      top: 50%;
      width: 6px;
      height: 1px;
      background: $text-color;
    }

    &:first-child {
      margin: 0 $margin-sm 0 0;
      padding: 0 $padding-base 0 0;
      font-size: $font-size-lg;
      font-weight: 500;
  
      &:after{
        content: "";
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: lighten($border-color-base,2.2%);
      }
    }

    &:last-child{
      &:after{
        display: none;
      }
    }

    @include e(inner) {
      // color: $text-color;

      &.is-link, & a {
        // font-weight: bold;
        text-decoration: none;
        transition: $--color-transition-base;
        color: $text-color;

        &:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    &:last-child {
      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &, &:hover {
          font-weight: normal;
          color: $text-color;
          cursor: text;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }
    }
  }
}
