@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

//by txk
@mixin new-Btn($Bgcolor: transparent){
  background-color:$Bgcolor;
}
//by txk

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $white-color;
  border: $border-base;
  border-color: $border-color-base;
  color: $text-color;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $font-weight-base;
  @include utils-user-select(none);
  & + .el-button {
    margin-left: $margin-xs;
  }

  @include button-size($btn-padding-vertical, $btn-padding-horizontal, $font-size-base, $border-radius-base);

  &:hover,
  &:focus {
    color: $primary-color-main;
    border-color: $primary-color-light-7;
    background-color: $primary-color-light-9;
  }

  &:active {
    color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
    border-color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $white-color;
      border-color: $primary-color-main;
      color: $primary-color-main;
    }

    &:active {
      background: $white-color;
      border-color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
      color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
      outline: none;
    }
  }

  @include when(active) {
    color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
    border-color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $text-color-disabled;
      cursor: not-allowed;
      background-image: none;
      background-color: $btn-disabled-bg;
      border-color: transparent;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $white-color;
        border-color: $border-color-sub;
        color: $text-color-disabled;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $btn-padding-vertical;
  }
  @include m(primary) {
    @include button-variant($white-color, $primary-color-main, $primary-color-main);
  }
  @include m(success) {
    @include button-variant($white-color, $success-color, $success-color);
  }
  @include m(warning) {
    @include button-variant($white-color, $warning-color, $warning-color);
  }
  @include m(danger) {
    @include button-variant($white-color, $danger-color, $danger-color);
  }
  @include m(huge) {
    @include button-size($btn-huge-padding-vertical, $btn-huge-padding-horizontal, $btn-huge-font, $btn-huge-border-radius);
    @include when(circle) {
      padding:$btn-huge-padding-vertical;
    }
  }
  @include m(large) {
    @include button-size($btn-large-padding-vertical, $btn-large-padding-horizontal, $btn-large-font, $btn-large-border-radius);
    @include when(circle) {
      padding:$btn-large-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($btn-small-padding-vertical, $btn-small-padding-horizontal, $font-size-base, $border-radius-sm);
    @include when(circle) {
      padding: $btn-small-padding-vertical;
    }
  }
  @include m(tiny) {
    @include button-size($btn-tiny-padding-vertical, $btn-tiny-padding-horizontal, $btn-tiny-font, $btn-tiny-border-radius);
    @include when(circle) {
      padding:$btn-tiny-padding-vertical;
    }
  }
  @include m(text) {
    border-color: transparent;
    color: $primary-color-main;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix($white-color, $primary-color-main, $btn-hover-tint-percent);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($black-color, $primary-color-main, $btn-active-shade-percent);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

  //by txk
  &-nb-green{
    background: transparent;
    color: $primary-color-main;
    border-color: transparent;
    &:focus,
    &:hover{
      @include new-Btn($success-color);
      i{
        color:$white-color;
      }
    }
  }

  &-nb-blue{
    background: transparent;
    color: $primary-color-main;
    border-color: transparent;
    &:focus,
    &:hover{
      @include new-Btn($primary-color-main);
      i{ 
        color:$white-color;
      }
    }
  }

  &-btnblock{
    width:100%;
    //  padding: 10px 20px;
    display: block;

    & + .el-button-btnblock{
      margin-left: 0;
      margin-top: $margin-xs;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & .el-button {
    float: left;
    position: relative;
    & + .el-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &:first-child:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
    @include when(active) {
      z-index: 1;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($white-color, 0.5);
      }
      &:last-child {
        border-left-color: rgba($white-color, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($white-color, 0.5);
        border-right-color: rgba($white-color, 0.5);
      }
    }
  }
}
