@import "mixins/mixins";
@import "common/var";

@include b(card) {
  // border-radius: $--card-border-radius;
  border: 1px solid $--card-border-color;
  background-color: $white-color;
  color: $text-color;
  transition: 0.3s;
  overflow: hidden;

  @include when(always-shadow) {
    box-shadow: $card-box-shadow;
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $card-box-shadow;
    }
  }

  @include e(header) {
    color: $title-color;
    padding: #{$--card-padding - 2 $--card-padding};
    font-size: $font-size-lg;
    font-weight: 500;
    border-bottom: 1px solid $--card-border-color;
    box-sizing: border-box;
  }

  @include e(body) {
    padding: $--card-padding;
  }
}
