@import "mixins/mixins";
@import "common/var";

@include b(card) {
  // border-radius: $border-radius-base;
  border: 1px solid $border-color-sub;
  background-color: $white-color;
  color: $text-color;
  transition: 0.3s;
  overflow: hidden;
  margin-bottom: $margin-base;

  @include when(always-shadow) {
    box-shadow: $card-box-shadow;
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $card-box-shadow;
    }
  }

  @include e(header) {
    color: $title-color;
    // padding: #{$card-padding - 2 $card-padding};
    // padding: $padding-sm $padding-base;
    padding: 30px;
    font-size: $font-size-lg;
    line-height: 1.5;
    font-weight: 500;
    border-bottom: 1px solid $border-color-sub;
    box-sizing: border-box;
  }

  @include e(body) {
    // padding: $padding-sm $padding-base;
    padding: 30px;
  }
}
