@import "mixins/mixins";
@import "common/var";
@import "./input.scss";
@import "./popper";

@include b(cascader) {
  display: inline-block;
  position: relative;
  font-size: $font-size-base;
  line-height: $input-height;

  .el-input,
  .el-input__inner {
    cursor: pointer;
  }

  .el-input__icon {
    transition: none;
  }

  .el-icon-arrow-down {
    transition: transform .3s;
    font-size: 14px;

    @include when(reverse) {
      transform: rotateZ(180deg);
    }
  }

  .el-icon-circle-close {
    z-index: #{$index-normal + 1};
    transition: $color-transition-base;

    &:hover {
      color: $text-color-sub;
    }
  }

  @include e(clearIcon) {
    z-index: 2;
    position: relative;
  }

  @include e(label) {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 25px 0 15px;
    color: $text-color;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    font-size: inherit;

    span {
      color: $black-color;
    }
  }

  @include m(medium) {
    font-size: $font-size-base;
    line-height: #{$input-medium-height};
  }

  @include m(small) {
    font-size: $font-size-sm;
    line-height: #{$input-small-height};
  }

  @include m(mini) {
    font-size: $font-size-tiny;
    line-height: #{$input-mini-height};
  }

  @include when(disabled) {
    .el-cascader__label {
      z-index: #{$index-normal + 1};
      color: $disabled-color-base;
    }
  }
}

@include b(cascader-menus) {
  white-space: nowrap;
  background: #fff;
  position: absolute;
  margin: 5px 0;
  z-index: #{$index-normal + 1};
  border: $border-base;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-light;
}

@include b(cascader-menu) {
  display: inline-block;
  vertical-align: top;
  height: 204px;
  overflow: auto;
  border-right: $border-base;
  background-color: $white-color;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  min-width: 160px;

  &:last-child {
    border-right: 0;
  }

  @include e(item) {
    font-size: $font-size-base;
    padding: 8px 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color ;
    height: $select-option-height;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    @include m(extensible) {
      &:after {
        font-family: 'element-icons';
        content: "\e604";
        font-size: 14px;
        color: rgb(191, 203, 217);
        position: absolute;
        right: 15px;
      }
    }

    @include when(disabled) {
      color: $text-color-disabled;
      background-color: $white-color;
      cursor: not-allowed;

      &:hover {
        background-color: $white-color;
      }
    }

    @include when(active) {
      color: $primary-color-main;
    }

    &:hover, &:focus:not(:active) {
      background-color: $background-color-base;
    }

    &.selected {
      color: $white-color;
      background-color: $primary-color-main;
    }
  }

  @include e(item__keyword) {
    font-weight: bold;
  }

  @include m(flexible) {
    height: auto;
    max-height: 180px;
    overflow: auto;

    .el-cascader-menu__item {
      overflow: visible;
    }
  }
}
