@import "common/var";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  color: $text-color;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;

  @include when(bordered) {
    padding: $checkbox-bordered-pad;
    border-radius: $border-radius-base;
    border: $border-base;
    box-sizing: border-box;
    line-height: normal;
    height: $checkbox-bordered-height;

    &.is-checked {
      border-color: $primary-color;
    }

    &.is-disabled {
      border-color: $border-color-sub;
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.el-checkbox--medium {
      padding: $checkbox-bordered-md-pad;
      border-radius: $border-radius-base;
      height: $checkbox-bordered-md-height;

      .el-checkbox__label {
        line-height: 17px;
        font-size: $font-size-base;
      }

      .el-checkbox__inner {
        height: $checkbox-bordered-md-input-height;
        width: $checkbox-bordered-md-input-width;
      }
    }

    &.el-checkbox--small {
      padding: $checkbox-bordered-sm-pad;
      border-radius: $border-radius-sm;
      height: $checkbox-bordered-sm-height;

      .el-checkbox__label {
        line-height: 15px;
        font-size: $font-size-base;
      }

      .el-checkbox__inner {
        height: $checkbox-bordered-sm-input-height;
        width: $checkbox-bordered-sm-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.el-checkbox--mini {
      padding: $checkbox-bordered-mini-pad;
      border-radius: $border-radius-sm;
      height: $checkbox-bordered-mini-height;

      .el-checkbox__label {
        line-height: 12px;
        font-size: $font-size-xs;
      }

      .el-checkbox__inner {
        height: $checkbox-bordered-mini-input-height;
        width: $checkbox-bordered-mini-input-width;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-checkbox__inner {
        background-color: $disabled-color;
        border-color: $border-color-base;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: $text-color-disabled;
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          background-color: $background-color-base;
          border-color: $border-color-base;

          &::after {
            border-color: $text-color-disabled;
          }
        }
      }

      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: $background-color-base;
          border-color: $border-color-base;

          &::before {
            background-color: $text-color-disabled;
            border-color: $text-color-disabled;
          }
        }
      }

      & + span.el-checkbox__label {
        color: $disabled-color-base;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-checkbox__inner {
        background-color: $primary-color-main;
        border-color: $primary-color-main;

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .el-checkbox__label {
        color: $primary-color-main;
      }
    }
    @include when(focus) { /*focus时 视觉上区分*/
      .el-checkbox__inner {
        border-color: $link-color;
      }
    }
    @include when(indeterminate) {
      .el-checkbox__inner {
        background-color: $primary-color-main;
        border-color: $primary-color-main;

        &::before {
          content: '';
          position: absolute;
          display: block;
          background-color: $white-color;
          height: 2px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 5px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: $border-base;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    width: $checkbox-width;
    height: $checkbox-height;
    background-color: $white-color;
    z-index: $index-normal;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),
    background-color .25s cubic-bezier(.71,-.46,.29,1.46);

    &:hover {
      border-color: $link-color;
    }

    &::after {
      box-sizing: content-box;
      content: "";
      border: 1px solid $white-color;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform .15s ease-in .05s;
      transform-origin: center;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: $font-size-base;
  }

  & + .el-checkbox {
    margin-left: 30px;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    font-weight: $font-weight-base;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: $white-color;
    border: $border-base;
    border-left: 0;
    color: $text-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    transition: $all-transition;
    @include utils-user-select(none);

    @include button-size($btn-padding-vertical, $btn-padding-horizontal, $font-size-base, 0);

    &:hover {
      color: $primary-color;
    }

    & [class*="el-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      color: $white-color;
      background-color: $primary-color-main;
      border-color: $primary-color-main;
      box-shadow: -1px 0 0 0 $primary-color-light-4;
    }
    &:first-child .el-checkbox-button__inner {
      border-left-color: $primary-color-main;
    }
  }

  &.is-disabled {
    & .el-checkbox-button__inner {
      color: $text-color-disabled;
      cursor: not-allowed;
      background-image: none;
      background-color: $btn-disabled-bg;
      border-color: $border-color-sub;
      box-shadow: none;
    }
    &:first-child .el-checkbox-button__inner {
      border-left-color: $border-color-sub;
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-left: $border-base;
      border-radius: $border-radius-base 0 0 $border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .el-checkbox-button__inner {
      border-color: $primary-color-main;
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $border-radius-base $border-radius-base 0;
    }
  }
  @include m(medium) {
    .el-checkbox-button__inner {
      @include button-size($btn-padding-vertical, $btn-padding-horizontal, $font-size-base, 0);
    }
  }
  @include m(small) {
    .el-checkbox-button__inner {
      @include button-size($btn-small-padding-vertical, $btn-small-padding-horizontal, $font-size-base, 0);
    }
  }
  @include m(mini) {
    .el-checkbox-button__inner {
      @include button-size($btn-mini-padding-vertical, $btn-mini-padding-horizontal, $font-size-xs, 0);
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
