@import "mixins/mixins";
@import "common/var";

@include b(header) {
  // padding: $header-padding;
  // box-sizing: border-box;
  // flex-shrink: 0;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding-left: 200px;
  background: $white-color;
  height: $header-height;
  line-height: $header-height;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 9;

  &-container{
    padding: 0 $padding-sm 0 0;

    &:before,
    &:after{
        display: block;
        content: "";
        min-height: 0;
        clear: both;
        zoom: 1;
    }
  }

  &-left{
    float: left;
  }

  &-right{
    float: right;
  }

  &-collapse{
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    // margin-right: 12px;
    // margin-left: -12px;
    font-size: 20px;
    color: $text-color-disabled;
    border-right: $border-width-base $border-style-base $border-color-split;
    cursor: pointer;

    >i{
      font-size: 20px;
    }
  }

  &-search{
    width: auto;
    margin-left: $margin-sm;
    
    .el-input__inner{
      border: 0;
    }
  }
}
