@import "mixins/mixins";
@import "common/var";

@include b(select-dropdown) {
  @include e(item) {
    // font-size: inherit;
    padding: 0 $padding-base;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
    height: $--select-option-height;
    line-height: $--select-option-height;
    box-sizing: border-box;
    cursor: pointer;

    @include when(disabled) {
      color: $text-color-disabled;
      cursor: not-allowed;

      &:hover {
        background-color: $white-color;
      }
    }

    &:hover,
    &.hover, 
    &.selected {
      background-color: $primary-color-main;
      color: $white-color;
    }

    // &.selected {
    //   color: $--select-option-selected;
    //   font-weight: bold;
    // }

    & span {
      line-height: 34px !important;
    }
  }
}
