@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/var";

@include b(radio) {
  color: $text-color;
  font-weight: $font-weight-base;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $font-size-base;
  @include utils-user-select(none);

  @include when(bordered) {
    padding: $radio-bordered-pad;
    border-radius: $border-radius-base;
    border: $border-base;
    box-sizing: border-box;
    height: $radio-bordered-height;

    &.is-checked {
      border-color: $primary-color;
    }

    &.is-disabled {
      cursor: not-allowed;
      border-color: $border-color-sub;
    }

    & + .el-radio.is-bordered {
      margin-left: 10px;
    }
  }

  @include m(medium) {
    &.is-bordered {
      padding: $radio-bordered-md-pad;
      border-radius: $--button-medium-border-radius;
      height: $radio-bordered-md-height;
      .el-radio__label {
        font-size: $--button-medium-font-size;
      }
      .el-radio__inner {
        height: $radio-bordered-md-input-height;
        width: $radio-bordered-md-input-width;
      }
    }
  }
  @include m(small) {
    &.is-bordered {
      padding: $radio-bordered-sm-pad;
      border-radius: $--button-small-border-radius;
      height: $radio-bordered-sm-height;
      .el-radio__label {
        font-size: $--button-small-font-size;
      }
      .el-radio__inner {
        height: $radio-bordered-sm-input-height;
        width: $radio-bordered-sm-input-width;
      }
    }
  }
  @include m(mini) {
    &.is-bordered {
      padding: $radio-bordered-mini-pad;
      border-radius: $--button-mini-border-radius;
      height: $radio-bordered-mini-height;
      .el-radio__label {
        font-size: $--button-mini-font-size;
      }
      .el-radio__inner {
        height: $radio-bordered-mini-input-height;
        width: $radio-bordered-mini-input-width;
      }
    }
  }

  & + .el-radio {
    margin-left: 30px;
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-radio__inner {
        background-color: $disabled-color;
        border-color: $disabled-border-base;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          background-color: $disabled-color;
        }

        & + .el-radio__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .el-radio__inner {
          background-color: $disabled-color;
          border-color: $disabled-border-base;

          &::after {
            background-color: $text-color-disabled;
          }
        }
      }
      & + span.el-radio__label {
        color: $text-color-disabled;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-radio__inner {
        border-color: $primary-color-main;
        // background: $primary-color-main;
        background: $white-color;

        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .el-radio__label {
        color: $primary-color-main;
      }
    }

    @include when(focus) {
      .el-radio__inner {
        border-color: $primary-color-main;
      }
    }
  }
  @include e(inner) {
    border: $border-base;
    border-radius: $border-radius-circle;
    width: $radio-width;
    height: $radio-height;
    background-color: $white-color;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
      border-color: $primary-color-main;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-radius: $border-radius-circle;
      // background-color: $white-color;
      background-color: $primary-color;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) { /*获得焦点时 样式提醒*/
    .el-radio__inner {
      box-shadow: 0 0 2px 2px $primary-color-main;
    }
  }

  @include e(label) {
    font-size: $font-size-base;
    padding-left: 10px;
  }

  // by txk
  &-group .el-radio-button-ellipse:first-child .el-radio-button__inner{
    border-top-left-radius: $border-fl-radius;
    border-bottom-left-radius: $border-fl-radius;
    border-color: $rp-bd-color;
  }

  &-group .el-radio-button-ellipse:last-child .el-radio-button__inner{
    border-top-right-radius:$border-fl-radius;
    border-bottom-right-radius:$border-fl-radius;
    border-color: $rp-bd-color;
  }
}
.el-radio-button-ellipse .el-radio-button__orig-radio:checked + .el-radio-button__inner{
  border-radius: $border-checkd-radius;
  border-color: $primary-color-main;
  box-shadow: -2px 0px 2px 6px $rp-bd-color;
} 
