@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(select-dropdown) {
  position: absolute;
  z-index: #{$index-top + 1};
  border: $border-base;
  border-radius: $border-radius-base;
  background-color: $white-color;
  box-shadow: $box-shadow-light;
  box-sizing: border-box;
  margin: $margin-xs 0;

  @include when(multiple) {
    & .el-select-dropdown__item.selected {
      color: $white-color;
      background-color: $primary-color-main;

      &.hover {
        background: $primary-color-main;
      }

      &::after {
        position: absolute;
        right: 20px;
        font-family: 'element-icons';
        content: "\E611";
        font-size: 12px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .el-scrollbar.is-empty .el-select-dropdown__list{
    padding: 0;
  }
}

@include b(select-dropdown__empty) {
  padding: $padding-sm 0;
  margin: 0;
  text-align: center;
  color: $text-color-grey;
  font-size: $font-size-base;
}

@include b(select-dropdown__wrap) {
  max-height: $select-dropdown-max-height;
}

@include b(select-dropdown__list) {
  list-style: none;
  padding: $padding-xs 0;
  margin: 0;
  box-sizing: border-box;
}
