@import "mixins/mixins";

@include b(steps) {
  display: flex;

  @include m(simple) {
    padding: 13px 8%;
    border-radius: 4px;
    background: $background-color-base;
  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }

  &-box{
    .time-describe-box {
      position:absolute;
      left: 0;

      > div{
          margin-bottom:20px;
      }

      > div:last-child{
        margin-top: 26px;
      }

      > div:first-child{
        margin-top: $margin-xs;
        margin-bottom: 25px;
      }

      > div p:first-child{
          color:#38485A;
          font-family:"Roboto";
          font-size: $font-size-base;
          font-weight: 700;
          text-align: right;
      }

      > div p:last-child{
        color:#8391A0;
        font-family:"Poppins";
        font-size: $font-size-tiny;
        font-weight: 400;
        text-align: right;
        margin-top: -($margin-xs - 1);
      }

    }
    > div:nth-child(2){
        .el-step__main{
          margin-bottom: 20px;
        }
    }
    > div:last-child{
        .el-step__main{
          margin-top: 8px;
        }
        .el-step__icon {
          top: 16%;;
        }
    }
  }
}