@import "mixins/mixins";
@import "common/var";

@include b(tag) {
  background-color: $tag-bg;
  display: inline-block;
  padding: 0 $padding-sm;
  height: 32px;
  line-height: 30px;
  font-size: $font-size-xs;
  color: $primary-color-main;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  border: 1px solid $tag-border;
  white-space: nowrap;

  .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;
    color: $primary-color-main;

    &::before {
      display: block;
    }

    &:hover {
      background-color: $primary-color-main;
      color: $white-color;
    }
  }

  @include m(info) {
    background-color: $tag-info-bg;
    border-color: $tag-info-border;
    color: $tag-info-color;

    @include when(hit) {
      border-color: $tag-info-color;
    }

    .el-tag__close {
      color: $tag-info-color;
    }

    .el-tag__close:hover {
      background-color: $tag-info-color;
      color: $white-color;
    }
  }

  @include m(success) {
    background-color: $tag-success-bg;
    border-color: $tag-success-border;
    color: $tag-success-color;

    @include when(hit) {
      border-color: $tag-success-color;
    }

    .el-tag__close {
      color: $tag-success-color;
    }

    .el-tag__close:hover {
      background-color: $tag-success-color;
      color: $white-color;
    }
  }

  @include m(warning) {
    background-color: $tag-warning-bg;
    border-color: $tag-warning-border;
    color: $tag-warning-color;

    @include when(hit) {
      border-color: $tag-warning-color;
    }

    .el-tag__close {
      color: $tag-warning-color;
    }

    .el-tag__close:hover {
      background-color: $tag-warning-color;
      color: $white-color;
    }
  }

  @include m(danger) {
    background-color: $tag-danger-fill;
    border-color: $tag-danger-border;
    color: $tag-danger-color;

    @include when(hit) {
      border-color: $tag-danger-color;
    }

    .el-tag__close {
      color: $tag-danger-color;
    }

    .el-tag__close:hover {
      background-color: $tag-danger-color;
      color: $white-color;
    }
  }

  @include m(medium) {
    height: 28px;
    line-height: 26px;

    .el-icon-close {
      transform: scale(.8);
    }
  }

  @include m(small) {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;

    .el-icon-close {
      transform: scale(.8);
    }
  }

  @include m(mini) {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;

    .el-icon-close {
      margin-left: -3px;
      transform: scale(.7);
    }
  }
  // by  txk
  &-blue{
    background: lighten($primary-color, 47%);
    border:solid 1px lighten($primary-color, 31%);
    color:$primary-color;
  }
  &-cyan{
    background: lighten($cyan-color, 52%);
    border: solid 1px lighten($cyan-color, 33.5%);
    color:$cyan-color;
  }
  &-green{
    background: lighten($success-color,55%);
    border: solid 1px lighten($success-color, 40%);
    color:$success-color;
  }
  &-orange{
    background: lighten($orange-color, 42%);
    border: solid 1px lighten($orange-color, 35%);
    color:$orange-color;
  }
  &-pink{
    background: lighten($pink-color, 43%);
    border: solid 1px lighten($pink-color, 33%);
    color:$pink-color;
  }
  &-purple{
    background: lighten($purple-color,48%);
    border: solid 1px lighten($purple-color,34%);
    color:$purple-color;
  }
  &-red{
    background: lighten($danger-color,34%);
    border: solid 1px lighten($danger-color,18%);
    color:$danger-color;
  }
}
