@import "mixins/mixins";
@import "common/var";

@include b(tag) {
  background-color: $tag-bg;
  display: inline-block;
  padding: 0 $padding-sm;
  height: 32px;
  line-height: 30px;
  font-size: $font-size-tiny;
  color: $primary-color-main;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  border: 1px solid $tag-border;
  white-space: nowrap;

  .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;
    color: $primary-color-main;

    &::before {
      display: block;
    }

    &:hover {
      background-color: $primary-color-main;
      color: $white-color;
    }
  }

  @include m(info) {
    background-color: $tag-info-bg;
    border-color: $tag-info-border;
    color: $tag-info-color;

    @include when(hit) {
      border-color: $tag-info-color;
    }

    .el-tag__close {
      color: $tag-info-color;
    }

    .el-tag__close:hover {
      background-color: $tag-info-color;
      color: $white-color;
    }
  }

  @include m(success) {
    background-color: $tag-success-bg;
    border-color: $tag-success-border;
    color: $tag-success-color;

    @include when(hit) {
      border-color: $tag-success-color;
    }

    .el-tag__close {
      color: $tag-success-color;
    }

    .el-tag__close:hover {
      background-color: $tag-success-color;
      color: $white-color;
    }
  }

  @include m(warning) {
    background-color: $tag-warning-bg;
    border-color: $tag-warning-border;
    color: $tag-warning-color;

    @include when(hit) {
      border-color: $tag-warning-color;
    }

    .el-tag__close {
      color: $tag-warning-color;
    }

    .el-tag__close:hover {
      background-color: $tag-warning-color;
      color: $white-color;
    }
  }

  @include m(danger) {
    background-color: $tag-danger-fill;
    border-color: $tag-danger-border;
    color: $tag-danger-color;

    @include when(hit) {
      border-color: $tag-danger-color;
    }

    .el-tag__close {
      color: $tag-danger-color;
    }

    .el-tag__close:hover {
      background-color: $tag-danger-color;
      color: $white-color;
    }
  }

  @include m(medium) {
    height: 28px;
    line-height: 26px;

    .el-icon-close {
      transform: scale(.8);
    }
  }

  @include m(small) {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;

    .el-icon-close {
      transform: scale(.8);
    }
  }

  @include m(mini) {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;

    .el-icon-close {
      margin-left: -3px;
      transform: scale(.7);
    }
  }
  // by  txk
  &-blue{
    background-color:#e6f7ff;
    border:solid 1px #91d5ff;
    color:#91d5ff;
  }
  &-cyan{
    background-color: #e6fffb;
    border: solid 1px #87e8de;
    color:#87e8de;
  }
  &-green{
    background-color: #f6ffed;
    border: solid 1px #b7eb8f;
    color:#b7eb8f;
  }
  &-orange{
    background-color: #fff2e8;
    border: solid 1px #ffbb96;
    color:#ffbb96;
  }
  &-pink{
    background-color: #fff0f6;
    border: solid 1px #ffadd2;
    color:#ffadd2;
  }
  &-purple{
    background-color: #f9f0ff;
    border: solid 1px #d3adf7;
    color:#d3adf7;
  }
  &-red{
    background-color: #fff1f0;
    border: solid 1px #ffa39e;
    color:#ffa39e;
  }
}
