/* Element Chalk Variables */

/* Transition
-------------------------- */
$all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$fade-linear-transition: opacity 200ms linear !default;
$md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Background
-------------------------- */
$background-color-base: #f5f7fa !default;
$body-default-bg: #F4F6F9 !default;
// $disabled-color-base: $body-default-bg !default;

/* Colors
-------------------------- */
$white-color: #fff !default;
$black-color: #000 !default;
$primary-color: #0f7ae6 !default;
$success-color: #3fae2a !default;
$warning-color: #ffa300 !default;
$danger-color: #ff5347 !default;
$gray-color: #909399 !default;
$cyan-color:#00aba9 !default;
$pink-color:#ef8d9e !default;
$purple-color:#c39797 !default;
$orange-color:#FF7E70 !default;

$primary-color-main: #4CA8FD !default;
$success-color-light: #93DD7B !default;
$warning-color-light: #FFCB52 !default;

$primary-color-light-1: mix($white-color, $primary-color, 10%) !default; /* 53a8ff */
$primary-color-light-2: mix($white-color, $primary-color, 20%) !default; /* 66b1ff */
$primary-color-light-3: mix($white-color, $primary-color, 30%) !default; /* 79bbff */
$primary-color-light-4: mix($white-color, $primary-color, 40%) !default; /* 8cc5ff */
$primary-color-light-5: mix($white-color, $primary-color, 50%) !default; /* a0cfff */
$primary-color-light-6: mix($white-color, $primary-color, 60%) !default; /* b3d8ff */
$primary-color-light-7: mix($white-color, $primary-color, 70%) !default; /* c6e2ff */
$primary-color-light-8: mix($white-color, $primary-color, 80%) !default; /* d9ecff */
$primary-color-light-9: mix($white-color, $primary-color, 90%) !default; /* ecf5ff */

// $success-color-light: mix($white-color, $success-color, 80%) !default;
// $warning-color-light: mix($white-color, $warning-color, 80%) !default;
$danger-color-light: mix($white-color, $danger-color, 80%) !default;
$gray-color-light: mix($white-color, $gray-color, 80%) !default;

$success-color-lighter: mix($white-color, $success-color, 90%) !default;
$warning-color-lighter: mix($white-color, $warning-color, 90%) !default;
$danger-color-lighter: mix($white-color, $danger-color, 90%) !default;
$gray-color-lighter: mix($white-color, $gray-color, 90%) !default;

/* Text
---------------------------- */
$title-color: #38485a !default;
$text-color: #8391A0 !default;
$text-color-sub: #8C8C8C !default;
$text-color-disabled: #BFBFBF !default;
$text-color-grey: #999 !default;

/* Border
-------------------------- */
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: #DFE3E9 !default;
$border-color-sub: #EAECF0 !default;
$border-color-split: $border-color-sub !default;
$border-color-disabled: $border-color-sub !default;
// $--border-color-extra-light: #f2f6fc !default;
$border-color-hover: $border-color-base!default;
$border-base: $border-width-base $border-style-base $border-color-base !default;
$border-radius-base: 4px !default;
$border-radius-sm: 2px !default;
$border-radius-circle: 100% !default;

/* Disable base
-------------------------- */
$disabled-color: $background-color-base !default;
$disabled-color-base: $text-color-disabled !default;
// $border-color-disabled: $border-color-split !default;

/* Link;
-------------------------- */
$link-color: $primary-color-main !default;
$link-color-hover: $primary-color-main !default;

/* Box-shadow
-------------------------- */
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

$card-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.05) !default;

/* Fill
-------------------------- */
$fill-base: $white-color !default;

/* Font
-------------------------- */
$font-path: 'fonts' !default;
$font-size-base: 14px !default;
$font-size-sm: 13px !default;
$font-size-tiny: 12px !default;
$font-size-md: 16px !default;
$font-size-lg: 18px !default;
$font-size-hg: 20px !default;
$font-size-xl: 24px !default;
$font-color-disabled-base: #bbb !default;
$font-weight-base: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 600 !default;
$line-height-base: 24px !default;
$font-size-no:0px !default;
$fir-step-top:-22px !default;

/* Padding and Margin
------------------------------------ */
$padding-base: 24px !default;
$padding-sm: 12px !default;
$padding-xs: 6px !default;
$padding-lg: 36px !default;
$padding-xl: 48px !default;

$margin-base: $padding-base !default;
$margin-sm: $padding-sm !default;
$margin-xs: $padding-xs !default;
$margin-lg: $padding-lg !default;
$margin-xl: $padding-xl !default;


/* z-index
-------------------------- */
$index-normal: 1 !default;
$index-top: 1000 !default;
$index-popper: 2000 !default;

/* Icon
-------------------------- */
$icon-color: #666 !default;
$icon-color-base: $gray-color !default;

/* Checkbox
-------------------------- */
$checkbox-height: 14px !default;
$checkbox-width: 14px !default;

$checkbox-bordered-height: 40px !default;
$checkbox-bordered-pad: 9px 20px 9px 10px !default;
$checkbox-bordered-md-pad: 7px 20px 7px 10px !default;
$checkbox-bordered-sm-pad: 5px 15px 5px 10px !default;
$checkbox-bordered-mini-pad: 3px 15px 3px 10px !default;
$checkbox-bordered-md-input-height: 14px !default;
$checkbox-bordered-md-input-width: 14px !default;
$checkbox-bordered-md-height: 36px !default;
$checkbox-bordered-sm-input-height: 12px !default;
$checkbox-bordered-sm-input-width: 12px !default;
$checkbox-bordered-sm-height: 32px !default;
$checkbox-bordered-mini-input-height: 12px !default;
$checkbox-bordered-mini-input-width: 12px !default;
$checkbox-bordered-mini-height: 28px !default;

/* Radio
-------------------------- */
$radio-height: 16px !default;
$radio-width: 16px !default;

$radio-bordered-height: 40px !default;
$radio-bordered-pad: 12px 20px 0 10px !default;
$radio-bordered-md-pad: 10px 20px 0 10px !default;
$radio-bordered-sm-pad: 8px 15px 0 10px !default;
$radio-bordered-mini-pad: 6px 15px 0 10px !default;
$radio-bordered-md-input-height: 14px !default;
$radio-bordered-md-input-width: 14px !default;
$radio-bordered-md-height: 36px !default;
$radio-bordered-sm-input-height: 12px !default;
$radio-bordered-sm-input-width: 12px !default;
$radio-bordered-sm-height: 32px !default;
$radio-bordered-mini-input-height: 12px !default;
$radio-bordered-mini-input-width: 12px !default;
$radio-bordered-mini-height: 28px !default;

/* Select
-------------------------- */
$select-multiple-input-color: #666 !default;
$select-option-height: 34px !default;
$select-group-height: 30px !default;
$select-dropdown-max-height: 274px !default;

/* Alert
-------------------------- */
$alert-padding: 8px 16px !default;
$alert-close-font-size: 12px !default;
$alert-close-customed-font-size: 13px !default;

$alert-info-color: mix($white-color, $primary-color, 90%) !default;
$alert-success-border-color: mix($white-color, $success-color, 43%) !default;
$alert-warning-border-color: mix($white-color, $warning-color, 43%) !default;
$alert-info-border-color: mix($white-color, $primary-color, 43%) !default;
$alert-danger-border-color: mix($white-color, $danger-color, 43%) !default;

$alert-icon-size: 16px !default;
$alert-icon-large-size: 28px !default;

/* Message Box
-------------------------- */
$msgbox-width: 420px !default;
// $--msgbox-border-radius: 4px !default;
// $--msgbox-font-size: $font-size-lg !default;
// $--msgbox-content-font-size: $font-size-base !default;
// $--msgbox-content-color: $text-color !default;
// $--msgbox-error-font-size: 12px !default;
// $--msgbox-padding-primary: 15px !default;

// $--msgbox-success-color: $success-color !default;
// $--msgbox-info-color: $gray-color !default;
// $--msgbox-warning-color: $warning-color !default;
// $--msgbox-danger-color: $danger-color !default;

/* Message
-------------------------- */
// $--message-shadow: $box-shadow-base !default;
$message-min-width: 380px !default;
$message-background-color: #edf2fc !default;
$message-padding: 15px 15px 15px 20px !default;
// $--message-content-color: $text-color !default;
// $--message-close-color: $text-color-disabled !default;
// $--message-close-size: 16px !default;
// $--message-close-hover-color: $text-color-sub !default;

// $--message-success-color: $success-color !default;
// $--message-info-color: $gray-color !default;
// $--message-warning-color: $warning-color !default;
// $--message-danger-color: $danger-color !default;

/* Notification
-------------------------- */
$notification-width: 330px !default;
$notification-padding: 14px 26px 14px 13px !default;
$notification-radius: 8px !default;
$notification-icon-size: 24px !default;
$notification-group-margin: 13px !default;

/* Input
-------------------------- */
$input-height: 36px !default;
$input-medium-height: 36px !default;
$input-small-height: 32px !default;
$input-mini-height: 28px !default;

/* Cascader
-------------------------- */
// $--cascader-menu-fill: $fill-base !default;
// $--cascader-menu-font-size: $font-size-base !default;
// $--cascader-menu-radius: $border-radius-base !default;
// $--cascader-menu-border: $border-base !default;
// $--cascader-menu-border-color: $border-color-base !default;
// $--cascader-menu-border-width: $border-width-base !default;
// $--cascader-menu-color: $text-color !default;
// $--cascader-menu-option-color-active: $text-color-sub !default;
// $--cascader-menu-option-fill-active: rgba($text-color-sub, 0.12) !default;
// $--cascader-menu-option-color-hover: $text-color !default;
// $--cascader-menu-option-fill-hover: rgba($title-color, 0.06) !default;
// $--cascader-menu-option-color-disabled: #999 !default;
// $--cascader-menu-option-fill-disabled: rgba($black-color, 0.06) !default;
// $--cascader-menu-option-empty-color: #666 !default;
// $--cascader-menu-group-color: #999 !default;
// $--cascader-menu-shadow: 0 1px 2px rgba($black-color, 0.14), 0 0 3px rgba($black-color, 0.14) !default;
// $--cascader-menu-option-pinyin-color: #999 !default;
// $--cascader-menu-submenu-shadow: 1px 1px 2px rgba($black-color, 0.14), 1px 0 2px rgba($black-color, 0.14) !default;
// $--cascader-height: 200px !default;

/* Group
-------------------------- */
// $--group-option-flex: 0 0 (1/5) * 100% !default;
// $--group-option-offset-bottom: 12px !default;
// $--group-option-fill-hover: rgba($black-color, 0.06) !default;
// $--group-title-color: $black-color !default;
// $--group-title-font-size: $font-size-base !default;
// $--group-title-width: 66px !default;

/* Tab
-------------------------- */
// $--tab-font-size: $font-size-base !default;
// $--tab-border-line: 1px solid #e4e4e4 !default;
// $--tab-header-color-active: $text-color-sub !default;
// $--tab-header-color-hover: $text-color !default;
// $--tab-header-color: $text-color !default;
// $--tab-header-fill-active: rgba($black-color, 0.06) !default;
// $--tab-header-fill-hover: rgba($black-color, 0.06) !default;
// $--tab-vertical-header-width: 90px !default;
// $--tab-vertical-header-count-color: $white-color !default;
// $--tab-vertical-header-count-fill: $text-color-sub !default;

/* Button
-------------------------- */
$btn-padding-vertical: 8px !default;
$btn-padding-horizontal: 20px !default;

$btn-small-padding-vertical: 5px !default;
$btn-small-padding-horizontal: 15px !default;

$btn-mini-padding-vertical: 7px !default;
$btn-mini-padding-horizontal: 15px !default;

$btn-disabled-bg: #f5f5f5 !default;

$btn-hover-tint-percent: 20% !default;
$btn-active-shade-percent: 10% !default;

/* Switch
-------------------------- */
$switch-core-border-radius: 10px !default;
$switch-width: 44px !default;
$switch-height: 20px !default;

/* Dialog
-------------------------- */
$dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$dialog-padding-primary: 20px !default;

/* Table
-------------------------- */
$table-border: 1px solid $border-color-sub !default;
$table-current-row-background: $primary-color-light-9 !default;
$table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;
$table-header-bg: #F5F7F9 !default;
$table-hover-bg: rgba(255,163,0,0.1) !default;

/* Pagination
-------------------------- */
$pagenation-size-base: 32px !default;

/* Popover
-------------------------- */
$popover-arrow-size: 6px !default;

/* Tooltip
-------------------------- */
$tooltip-arrow-size: 6px !default;

/* Tag
-------------------------- */
$tag-bg: rgba($primary-color, 0.10) !default;
$tag-border: rgba($primary-color, 0.20) !default;

$tag-info-bg: rgba($gray-color, 0.10) !default;
$tag-info-border: rgba($gray-color, 0.20) !default;
$tag-info-color: $gray-color !default;

// $--tag-primary-fill: rgba($primary-color, 0.10) !default;
// $--tag-primary-border: rgba($primary-color, 0.20) !default;
// $--tag-primary-color: $primary-color !default;

$tag-success-bg: rgba($success-color, 0.10) !default;
$tag-success-border: rgba($success-color, 0.20) !default;
$tag-success-color: $success-color !default;

$tag-warning-bg: rgba($warning-color, 0.10) !default;
$tag-warning-border: rgba($warning-color, 0.20) !default;
$tag-warning-color: $warning-color !default;

$tag-danger-fill: rgba($danger-color, 0.10) !default;
$tag-danger-border: rgba($danger-color, 0.20) !default;
$tag-danger-color: $danger-color !default;

/* Tree
-------------------------- */
// $--tree-node-hover-color: $background-color-base !default;
// $--tree-text-color: $text-color !default;
// $--tree-expand-icon-color: $text-color-disabled !default;

/* Dropdown
-------------------------- */
$dropdown-menuItem-hover-bg: $primary-color-light-9 !default;

/* Badge
-------------------------- */
$badge-radius: 10px !default;

/* Card
--------------------------*/
$card-padding: 20px !default;

/* Slider
--------------------------*/
// $--slider-main-background-color: $primary-color !default;
// $--slider-runway-background-color: $border-color-split !default;
// $--slider-button-hover-color: mix($primary-color, black, 97%) !default;
// $--slider-stop-background-color: $white-color !default;
// $--slider-disable-color: $text-color-disabled !default;

$slider-margin: 16px 0 !default;
$slider-border-radius: 3px !default;
$slider-height: 6px !default;
$slider-button-size: 16px !default;
$slider-button-wrapper-size: 36px !default;
$slider-button-wrapper-offset: -15px !default;

/* Steps
--------------------------*/
// $--steps-border-color: $border-color-disabled !default;
// $--steps-border-radius: 4px !default;
// $--steps-padding: 20px !default;

/* Menu
--------------------------*/
$sidebar-bg: darken(saturate($primary-color,20%),16%) !default;
$menu-item-hover: lighten($primary-color,3.8%) !default;

/* Rate
--------------------------*/
$rate-height: 20px !default;
// $--rate-font-size: $font-size-base !default;
$rate-icon-size: 18px !default;
$rate-icon-margin: 6px !default;
// $--rate-icon-color: $text-color-disabled !default;

/* DatePicker
--------------------------*/
// $--datepicker-color: $text-color !default;
// $--datepicker-off-color: $text-color-disabled !default;
// $--datepicker-header-color: $text-color !default;
// $--datepicker-icon-color: $title-color !default;
// $--datepicker-border-color: $border-color-disabled !default;
$datepicker-inner-border-color: #e4e4e4 !default;
// $--datepicker-inrange-color: $border-color-split !default;
// $--datepicker-inrange-hover-color: $border-color-split !default;
// $--datepicker-active-color: $primary-color !default;
// $--datepicker-text-hover-color: $primary-color !default;
// $--datepicker-cell-hover-color: #fff !default;

/* Loading
--------------------------*/
$loading-spinner-size: 42px !default;
$loading-fullscreen-spinner-size: 50px !default;

/* Scrollbar
--------------------------*/
$scrollbar-bg: rgba($text-color-sub, .3) !default;
$scrollbar-hover-bg: rgba($text-color-sub, .5) !default;

/* Carousel
--------------------------*/
// $--carousel-arrow-font-size: 12px !default;
$carousel-arrow-size: 36px !default;
$carousel-arrow-bg: rgba(31, 45, 61, 0.11) !default;
$carousel-arrow-hover-bg: rgba(31, 45, 61, 0.23) !default;
$carousel-indicator-width: 30px !default;
$carousel-indicator-height: 2px !default;
$carousel-indicator-padding-horizontal: 4px !default;
$carousel-indicator-padding-vertical: 12px !default;
// $--carousel-indicator-out-color: $border-color-hover !default;

/* Collapse
--------------------------*/
// $--collapse-border-color: $border-color-sub !default;
$collapse-header-height: 48px !default;
// $--collapse-header-padding: 20px !default;
// $--collapse-header-fill: $white-color !default;
// $--collapse-header-color: $title-color !default;
// $--collapse-header-size: 13px !default;
// $--collapse-content-fill: $white-color !default;
// $--collapse-content-size: 13px !default;
// $--collapse-content-color: $title-color !default;

/* Transfer
--------------------------*/
// $--transfer-border-color: $border-color-sub !default;
// $--transfer-border-radius: $border-radius-base !default;
$transfer-panel-width: 200px !default;
$transfer-panel-header-height: 40px !default;
// $--transfer-panel-header-background: $background-color-base !default;
$transfer-panel-footer-height: 40px !default;
$transfer-panel-body-height: 246px !default;
$transfer-item-height: 30px !default;
// $--transfer-item-hover-background: $text-color-sub !default;
$transfer-filter-height: 32px !default;

/* Header
  --------------------------*/
$header-padding: 0 20px !default;
$header-height: 60px !default;

/* Footer
--------------------------*/
$footer-padding: 0 20px !default;

/* Main
--------------------------*/
$main-padding: 20px !default;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md} - 1)",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg } - 1)",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl } - 1)",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);


/* the new variable  tanxukai
--------------------------*/
/*button*/
// $btn-huge-font: 18px !default;
// $btn-huge-border-radius: $border-radius-base !default;
// $btn-huge-padding-vertical: 12px !default;
// $btn-huge-padding-horizontal: 20px !default;

// $btn-large-font: 16px !default;
// $btn-large-border-radius: $border-radius-base !default;
// $btn-large-padding-vertical: 10px !default;
// $btn-large-padding-horizontal: 20px !default;

// $btn-tiny-font: 10px !default;
// $btn-tiny-border-radius: #{$border-radius-base - 2} !default;
// $btn-tiny-padding-vertical: 4px !default;
// $btn-tiny-padding-horizontal: 20px !default;

/*input*/
// $input-large-font: 16px !default;
$input-large-height: 44px !default;

// $input-small-font: 14px !default;
$input-small-height: 24px !default;

// $input-disabled-color:#f5f5f5 !default;

/*radio*/
// $border-fl-radius:12px !default;
$radio-group-circle-radius:36px !default;
$radio-group-circle-bg: #f8f8f8 !default;

/*step*/
// $content-color:#38485A !default;
// $stitle-color:#0F7AE6 !default;
// $mg-top-3:3px !default;
// $mg-top-5:5px !default;
// $mg-top-6:6px !default;
// $mg-top-8:8px !default;
// $mg-top-26:26px !default;
// $mg-bottom-20:20px !default;
// $mg-bottom-25:25px !default;
// $mg-bottom-15:15px !default;
$step-size:12px !default;


/* Timeline (By Lucinda)
--------------------------------------- */
$timeline-line-width: 3px !default;
$timeline-dot-size: 12px !default;
$timeline-info-width: 110px !default; 
$timeline-content-min-height: 36px !default;